
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1700px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
/* _________ navbar_________ */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
     display: inline-block;
     list-style-type: none;
}

nav ul li{ 
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

/* _________ banner_________ */

.row{
    display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
     display: inline-block;
     background-color: #ec3176;
     color: #fff;
     padding: 10px 30px ;
     margin: 30px 0;
     border-radius: 5px; 
     line-height: 25px;
     transition:0.5s;
}
.btn:hover{
    background: #070707;
}
.header{
    background: radial-gradient(#fff ,#fddee6) ;
}

.header .row{
margin-top: 70px;
}


/* _________ categories_______ */
.categories{
 margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
width: 100%;
}

.small-container{
    max-width: 1380px;
    margin: auto;
     padding-left: 25px;
    padding-right: 25px;
}

/* _________ featured_______ */
.col-4{
    flex-basis: 25%;
   padding: 10px;
   min-width: 200px;
   margin-bottom: 50px;
   transition: 0.5s;
}

.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(61, 59, 59);
}

.title::after{
    content: "";
    background-color: #ff3b86;
    width: 80px;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50px);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.ratings .fa{
    color: rgb(255, 0, 76);
}
.col-4:hover{
transform: translateY(-5px);
}


/* _________ offer_______ */
.offer{
background: radial-gradient(#fff ,#fddee6) ;
margin-top: 80px;
padding: 30px 0;
}

.col-2 .offer-img{
    padding: 80px;
}

.small{
    color: #555;
}